{
    "presets": [ "es2015" ],
    "plugins": [
        "transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-object-rest-spread",
                ["istanbul", {
                    "exclude": [
                        "**/*.test.*",
                        "test/**"
                    ]
                }]
            ]
        },
        "production": {
            "plugins": [
                "transform-object-rest-spread"
            ]
        }
    }
}
